# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TowerDefence.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\My programs\занятия МФТИ\4_sem\gamedev\TowerDefence\.idea\.idea.TowerDefence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
